.btn{
  text-decoration: none;
  border: solid #F73D93;
  color: #F73D93;
  border-radius: 1rem;
  padding: 12px 24px;
  margin: 2rem;
}

.btn:hover {
  background-color: #F73D93;
  color: #F7EFE5;
  transition: 0.5s;
}

.btn1 {
  text-decoration: none;
  border: solid #FF6363b3;
  color: #FF6363b3;
  padding: 16px 32px;
  border-radius: 3rem;
  margin: 2rem;
}
